body {
    background-color: #000;
}
.nav {
    border-bottom: 2px solid #0099ff;
    display: flex;
    justify-content: flex-start;
    height: 50px;
    transition: border .22s ease-in-out;
}
.nav:hover {
    border-bottom: 2px solid #00ccff;
}
.nav__btn {
    color: #0099ff;
    font-size: 2rem;
    padding: 0 1rem;
    background: transparent;
    border: 0;
    transition: color .22s ease-in-out;
}
.nav__btn:hover {
    color: #00ccff;
}
.canvas {
    height: calc(100vh - 50px);
    width: 100vw;
}